.Rproj.user
.Rhistory
.DS_Store
inst/.DS_Store
inst/sampleDB/rsconnect/
trash/
tests/
docs
shiny-server-1.5.17.973-amd64.deb
SDB_Temp_Maintentance
shiny_server
shiny_server_logs
site_library
the_database
